version: "3.9"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:5000"
    volumes:
      - .:/app # Mount the local directory into the container
    environment:
      FLASK_APP: app.py
      FLASK_ENV: development # Enables debug + auto-reload
      FLASK_DEBUG: 1
    command: flask run --host=0.0.0.0 --port=5000 --reload
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: dharaniinvmgmt
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql
      - ./db_setup.sql:/docker-entrypoint-initdb.d/db_setup.sql

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"
volumes:
  mysql-data:
