{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Prepared Dishes list</h4>
            </div>
            {% if user.role=='admin' or user.role=='store_manager' or
            user.role=='branch_manager' %}
            <div class="page-btn">
                <a href="/add_prepared_dishes" class="btn btn-added">
                    <img src="../static/img/icons/plus.svg" class="me-1" alt="img">Add Prepared Dish
                </a>
            </div>
            {% endif %}
        </div>

        <div class="card">
            <div class="card-body">
                <!-- <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="../static/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                </div> -->
                <form method="POST" action="/list_prepared_dishes">
                    <div class="row align-items-center mb-3">
                        <div class="col-md-6">
                            <label>Prepared on</label>
                            <input type="date" name="prepared_date" class="form-control" value="{{ current_date }}"
                                required>
                        </div>
                    </div>
                    <div class="table-responsive">
                        {% if prepared_dishes %}
                        <table class="table datanew">
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Prepared In Kitchen</th>
                                    <th>Dish Category</th>
                                    <th>Dish Name</th>
                                    <th>Prepared Quantity</th>
                                    <th>Available Quantity</th>
                                    <th>Prepared On</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for detail in prepared_dishes %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ detail['kitchen_name'] }}</td>
                                    <td>{{ detail['dish_category'] }}</td>
                                    <td>{{ detail['dish_name'] }}</td>
                                    <td>{{ detail['prepared_quantity'] }}</td>
                                    <td>{{ detail['available_quantity'] }}</td>
                                    <td>{{ detail['prepared_on'] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <p>No data available for the selected date.</p>
                        {% endif %}
                    </div>

                    <!-- Submit Button -->
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
                <!-- <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                            <tr>
                                <th>S.No</th>
                                <th>Prepared In Kitchen</th>
                                <th>Dish Category</th>
                                <th>Dish Name</th>
                                <th>Prepared Quantity</th>
                                <th>Prepared On</th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody>
                            {% for detail in prepared_dishes %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ detail['kitchen_name'] }}</td>
                                <td>{{ detail['dish_category'] }}</td>
                                <td>{{ detail['dish_name'] }}</td>
                                <td>{{ detail['prepared_quantity'] }}</td>
                                <td>{{ detail['prepared_on'] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> -->
            </div>
        </div>

    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="../static/plugins/select2/js/select2.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalerts.min.js"></script>
{% endblock %}
