{% extends 'base.html' %}
{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Raw Materials list</h4>
            </div>
            {% if user.role=='admin' or user.role=='store_manager' %}
            <div class="page-btn">
                <a href="/addrawmaterials" class="btn btn-added">
                    <img src="../static/img/icons/plus.svg" class="me-1" alt="img">Add Raw Material
                </a>
            </div>
            {% endif %}
        </div>

        <div class="card">
            <div class="card-body">
                <div class="table-top">
                    <div class="search-set">
                        <div class="search-input">
                            <a class="btn btn-searchset"><img src="../static/img/icons/search-white.svg" alt="img"></a>
                        </div>
                    </div>
                </div>
                <div>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                        <li class="{{ category }}"><b>**{{ message }}</b></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endwith %}
                </div>

                <div class="table-responsive">
                    <table class="table  datanew">
                        <thead>
                            <tr>
                                <th>Raw Material Number</th>
                                <th>Category</th>
                                <th>Raw Material Name</th>
                                <th>Metric</th>
                                {% if user.role == 'admin' %}
                                <th>Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for material in rawmaterials %}
                            <tr>
                                <td style="width: 10%;">{{ material.id }}</td>
                                <td style="width: 35%;">{{ material.category }}</td>
                                <td style="width: 35%;">{{ material.name }}</td>
                                <td style="width: 10%;">{{ material.metric }}</td>
                                {% if user.role == 'admin' %}
                                <td style="width: 10%;">
                                    <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editModal"
                                        data-id="{{ material.id }}" data-name="{{ material.name }}"
                                        data-category="{{ material.category }}" data-metric="{{ material.metric }}">
                                        <img src="../static/img/icons/edit.svg" alt="img">
                                    </button>
                                    <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#deleteModal"
                                        data-id="{{ material.id }}">
                                        <img src="../static/img/icons/delete.svg" alt="img">
                                    </button>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Raw Material</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="/editrawmaterial">
                <div class="modal-body">
                    <input type="hidden" name="id" id="editRawmaterialId">
                    <div class="mb-3">
                        <label for="editRawmaterialCategory" class="form-label">Category</label>
                        <input type="text" class="form-control" id="editRawmaterialCategory" name="category" required>
                    </div>
                    <div class="mb-3">
                        <label for="editRawmaterialName" class="form-label">Name</label>
                        <input type="text" class="form-control" id="editRawmaterialName" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="editRawmaterialMetric" class="form-label">Metric</label>
                        <select class="form-control" id="editRawmaterialMetric" name="metric" required>
                            <option value="kg">kilograms(kg)</option>
                            <option value="grams">grams(g)</option>
                            <option value="liter">liter(l)</option>
                            <option value="ml">milliliter(ml)</option>
                            <option value="unit">unit</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirm Delete</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this Raw Material?</p>
                <input type="hidden" id="deleteRawmaterialId">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDelete">OK</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
<script src="../static/plugins/select2/js/select2.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalerts.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var editButtons = document.querySelectorAll('.btn-edit');
        editButtons.forEach(function (button) {
            button.addEventListener('click', function () {
                var materialId = button.getAttribute('data-id');
                var materialCategory = button.getAttribute('data-category');
                var materialName = button.getAttribute('data-name');
                var materialMetric = button.getAttribute('data-metric');

                document.getElementById('editRawmaterialId').value = materialId;
                document.getElementById('editRawmaterialCategory').value = materialCategory;
                document.getElementById('editRawmaterialName').value = materialName;

                var metricDropdown = document.getElementById('editRawmaterialMetric');
                metricDropdown.value = materialMetric;
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        let deleteRawmaterialId;

        document.querySelectorAll(".btn-edit[data-bs-target='#deleteModal']").forEach(button => {
            button.addEventListener("click", function () {
                deleteRawmaterialId = this.getAttribute("data-id");
                document.getElementById("deleteRawmaterialId").value = deleteRawmaterialId;
            });
        });

        document.getElementById("confirmDelete").addEventListener("click", function () {
            fetch(`/deleterawmaterial/${deleteRawmaterialId}`, {
                method: "DELETE",
                headers: { "Content-Type": "application/json" }
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = window.location.pathname; // Redirect to reload the page
                    } else {
                        window.location.href = window.location.pathname;
                        // alert("Error: " + data.message);
                    }
                })
                .catch(error => console.error("Error:", error));
        });
    });
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.querySelector('form');

        // Convert inputs to uppercase as the user types
        form.addEventListener('input', function (e) {
            if (e.target.id === 'editRawmaterialCategory' || e.target.id === 'editRawmaterialName') {
                e.target.value = e.target.value.toUpperCase();
            }
        });

        // Validate form on submission
        form.addEventListener('submit', function (e) {
            const categoryInput = document.getElementById('editRawmaterialCategory');
            const nameInput = document.getElementById('editRawmaterialName');
            const metricInput = document.getElementById('editRawmaterialMetric');

            // Check for whitespace-only input
            if (!categoryInput.value.trim() || !nameInput.value.trim() || !metricInput.value.trim()) {
                e.preventDefault(); // Prevent form submission
                alert('Please enter valid values. Fields cannot contain only spaces.');
            }
        });
    });

</script>
{% endblock %}
