{% extends 'base.html' %}

{% block content %}
<div class="page-wrapper">
    <div class="content">
        <div class="page-header">
            <div class="page-title">
                <h4>Upload Sales Report</h4>
            </div>
        </div>

        <form action="/upload_sales_report" method="POST" enctype="multipart/form-data">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <!-- Destination Restaurant Dropdown -->
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Restaurant Name</label>
                                <select name="restaurant_id" class="form-control" required>
                                    <option value="" disabled selected>Select Restaurant</option>
                                    {% for restaurant in restaurants %}
                                    <option value="{{ restaurant.id }}">
                                        {{ restaurant.restaurantname }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <!-- Sales Report Date -->
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Sales Report Date</label>
                                <input type="date" name="sales_report_date" class="form-control"
                                    value="{{ current_date }}" required>
                            </div>
                        </div>

                        <!-- File Upload -->
                        <div class="col-lg-6 col-sm-6 col-12">
                            <div class="form-group">
                                <label>Upload File</label>
                                <input type="file" name="file" class="form-control" required>
                            </div>
                        </div>

                        <div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            <ul class="flash-messages">
                                {% for category, message in messages %}
                                <li class="{{ category }}"><b>{{ message }}</b></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                        </div>

                        <!-- Submit Button -->
                        <div class="col-lg-12">
                            <button type="submit" class="btn btn-submit me-2">Submit</button>
                            <a href="/dashboard" class="btn btn-cancel">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="../static/plugins/select2/js/select2.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalert2.all.min.js"></script>
<script src="../static/plugins/sweetalert/sweetalerts.min.js"></script>

<!-- <script>
    // Optional: Any other JS functions or event listeners
    document.addEventListener('DOMContentLoaded', function () {
        // Set today's date by default in the transferred date field
        document.querySelector('input[name="sales_report_date"]').setAttribute('value', new Date().toISOString().split('T')[0]);
    });
</script> -->
{% endblock %}
